@import 'variables';
@import 'customTheme';
@import 'staticTheme';

.text-gray {
    color: lightgray;
}

img {
    padding: 5px;
}

.container-fluid {
    background-color: $background-color;
    height: 100%;
}

body {
    background-color: $background-color;
    height: 100%;
}