<div class="container-fluid">
  <div class="py-5">
    <div class="container my-5">
      <div class="row mx-auto">
        <div class="col-md-12 text-light text-center">
          <h1 class="mb-3">Senior Design
            <br>
          </h1>
          <div class="card text-gray">
            <!-- Project One -->
            <div class="text-gray">
              <div class="card-body">
                  <h3><a href="http://sdmay19-36.sd.ece.iastate.edu/docs.html">Website</a></h3>
                  <hr>
                <h3>Definition</h3>
                <p>Our Senior Design project focuses on keeping elderly seniors inside their home.
                  To do this, we will implement a sensor network and utilize a wearable (such as a smart watch)
                  to track the senior's activity, and identify when the senior does an activity (such as make
                  breakfast).
                  When an activity is identified, this will be logged to develop a character profile of the senior.
                  That way,
                  eventually if the senior does not follow along their regular schedule, their caretakers and family
                  members will
                  be notified.

                  Our project will inherit previous design projects. As a result, the scope of our project has been
                  limited to
                  three things: Implementing a smart-plug tracking system, a on-senior device wearable tracking system,
                  and a guest tracking
                  system. These will then need to be integrated into current back-end environment.

                  Our hope is that our project can help seniors stay in their homes longer, and also alert the senior's
                  caretakers and family
                  member's if something goes wrong. Our hope is that by tracking if the senior is following their
                  regular schedule,
                  we can alert caretakers before something goes wrong.
                </p>
                <h3>Contribution</h3>
                <p>For our senior design project, I am the GitLab administrator. I am in charge
                  of keeping the repository polished, and ensuring all team members are adding their code in a way
                  that does not harm the overall repository. I am also tasked with implementing the smart-plug's API.
                </p>
                <h3>Skills Utilized & Learned</h3>
                <p>So far, we have utilized my previous experience with back-end services and APIs.
                  Particularly with NodeJS and javascript. We will also learn how to integrate with
                  a variety of sensors provided from the chosen smart watch. If we decide with an Apple Watch,
                  we will learn how to use Swift, and XCode, and developing an iOS watch app and iPhone app to send
                  the tracked data. We will also learn how to use the Java Spring framework, as the current back-end
                  runs on Spring.
                </p>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>