<div class="container-fluid">
  <div class="py-5">
    <div class="container my-5">
      <div class="row mx-auto">
        <div class="col-md-12 text-light text-center">
          <h1 class="mb-3">About Me
            <br>
          </h1>
          <p class=""> Currently, I am in my junior year at Iowa State University, where I am pursuing a Bachelor of Science in Computer Engineering. I have worked on a variety of projects in the past. I have used Java, C, C#, Javascript, Typescript in the past, and
            also have experience with HTML, CSS, jQuery, Angular2+, SQL, Android Studio, Git, and more.
            <br>
          </p>
          <p class=""> Some of my personal interests include playing the Trumpet, Bass Guitar, and Keys, fiddling around with Synthesizers, music production, playing sports such as Basketball, Tennis, and Ping-pong, staying late trying to complete that board game
            that takes way to long, and more.</p>
          <p class="">I am always willing to discuss internship positions, full-time offers, or projects. I can be contacted via phone, email, or through LinkedIn.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="container-fluid border-top">
  <div class="container">
    <div class="col-md-10">
      <h2 class="about-title text-center">
        Hi, I'm Justin Somers
      </h2>
      <div class="about-block row match-my-cols">
        <div class="about-text col-md-6">
          <p>
            Currently, I am in my junior year at Iowa State University, where I am pursuing a Bachelor of Science in Computer Engineering.
            I have worked on a variety of projects in the past. I have used Java, C, C#, Javascript, Typescript in the past,
            and also have experience with HTML, CSS, jQuery, Angular2+, SQL, Android Studio, Git, and more.
          </p>
          <p>
            Some of my personal interests include playing the Trumpet, Bass Guitar, and Keys, fiddling around with Synthesizers, music
            production, playing sports such as Basketball, Tennis, and Ping-pong, staying late trying to complete that board
            game that takes way to long, and more.
          </p>
          <p>
            I am always willing to discuss internship positions, full-time offers, or projects. I can be contacted via phone, email,
            or through LinkedIn.
          </p>
        </div>
        <div class="profile-image-box col-md-6">
          <img class="profile-img center-block" [src]="profileImg">

        </div>
      </div>

    </div>
  </div>
</div> -->