@import 'variables';
.container-fluid {
    background-color: $background-color;
    height: 100%;
    top: 50%;
    left: 50%;
}

h1 {
    font-family: $headings-font-family;
}

p {
    font-family: $font-family-base;

}

// body {
//     background-color: $background-color; 
// }
/* .about-text {
    background: rgb(235, 235, 235);
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 2.5px;
    padding-top: 7.5px;
    height: 100%;
}

p {
    color: rgb(95, 95, 95)
}

.about-title {
    line-height: 50px;
}

.profile-img {
    width: 80%;
    padding: 20px;
    background: rgb(235, 235, 235);

}

.profile-image-box {
}

.about-block {
    min-height: 200px;
}

.row.match-my-cols {
    overflow: hidden; 
}

.row.match-my-cols [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

h2 { 
    font-family: 'Libre Baskerville', serif;
} */