<div class="container-fluid">
  <div class="py-5">
    <div class="container my-5">
      <div class="row mx-auto">
        <div class="col-md-12 text-light text-center">
          <h1 class="mb-3">Additional Information</h1>
          <div class="card text-gray">
            <!-- Project One -->
            <div class="text-gray">
              <div class="card-body">
                <h3>Career Objective</h3>
                  <p>Post graduation, I will be continuing my work at IBM in the Systems Test Department.
                    I hope to continue to work in the department for many years, continuing to learn the ropes and transistion
                    from a junior developer to a senior developer.  After working for a senior developer for a couple of years
                    I can envision myself either looking to transistion to a management role, or continuing the work as a senior
                    developer.  I hope to stay in the Rochester, Minnesota area for many years, as I enjoy the community and relative proximity
                    to home.
                  </p>
                <h3>ISU Education Reflection</h3>
                <iframe src="https://drive.google.com/file/d/1RDUXbJPNBoC0pZJn0MYPs11dsgkkOXTl/preview" width="640"
                 height="480"></iframe>
                <h3>ISU Cumulative Reflection</h3>
                <iframe src="https://drive.google.com/file/d/1otCYM6gXlQXfRPUTGj1AyihvT2Xaj3Js/preview" width="640"
                 height="480"></iframe>
                <h3>Résumé</h3>
                <iframe src="https://drive.google.com/file/d/14ReIHmR_5vnv9sDerFZvxXP7PB5DElby/preview" width="640"
                 height="480"></iframe>
                  <br />
                  <br />
                <h3>Ethics Essay</h3>
                <iframe src="https://drive.google.com/file/d/1smPEExRxpv7Hk3H5c_a0_ElEKuVAyKQp/preview" width="640"
                  height="480"></iframe>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>