/* [class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 100%;
}

i {
        text-align:center;
}

h3 {
    color: #cd5360;
    font-family: 'Libre Baskerville', serif;
}

p, span, u {
        color: #cd5360;
        font-size: 0.7em;
}

.profile-text {
    font-family: 'Libre Baskerville', serif;
}


a, u, span {
    text-decoration: none;  
}

.list-unstyled {
    margin: -4px;
} */