/* .nav.navbar-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media (min-width: 768px) {
    .navbar-nav {
        float: none;
    }
}

.navbar-custom {
    background-color:white;
}
a{
    font-family: 'Libre Baskerville', serif;
}

.navbar-brand {
    font-size: 1.3em;
    color: #6d4b2d;
}

.navbar-brand:hover, .navbar-brand:focus {
    color: #855d3a;
}

ul > li > a {
   color: #6d4b2d;
   
}

ul > li > a:hover, ul > li > a:focus {
    color: #855d3a;
    
 }



a, u {
    text-decoration: none;  
} */