.nav.navbar-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media (min-width: 768px) {
    .navbar-nav {
        float: none;
    }
}

.navbar-custom {
    background-color:rgb(85, 85, 85);
}
a{
    font-family: 'Libre Baskerville', serif;
}

.navbar-brand {
    font-size: 1.3em;
}

ul > li > a {
   
}

a, u {
    text-decoration: none;
    color: white;
}