.nav.navbar-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media (min-width: 768px) {
    .navbar-nav {
        float: none;
    }
}
*{
    font-family: 'Libre Baskerville', serif;
}
.navbar-brand {
    font-size: 2em;
}

ul > li > a {
    font-size: 1.3em;
}