<div class="container">
  <div class="page-header">
    <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
              <span class="border">
                  <img  class="img-circle profile-image" [src]="profileImg">
              </span>
            
          </div>
           
      </div>
    </div>
    
    <h1>Justin Somers <small>Computer Engineering Student</small></h1>
  </div>
  <div class=" col-lg-offset-2 col-lg-8">
     <p>
        Hi!  I'm a student at Iowa State University studying Computer Engineering!
        I enjoy cooking, baking, music and more!
        Here's more about me!
      </p>
  <div class="row">
      <app-profiles></app-profiles>
      <app-skills></app-skills>
  </div>
</div> 
 
</div>