<app-jumbotron></app-jumbotron>



<!-- <div class="container-fluid border">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 reg-text">
            <p>
                Hi! I'm a student at Iowa State University studying Computer Engineering! I enjoy cooking, baking, music and more! Here's
                more about me!
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <app-profiles></app-profiles>
        <app-skills></app-skills>
    </div>
</div> -->