<div class="d-flex align-items-center py-5 photo-overlay cover">
  <div class="container">
    <div class="row">
      <div class="p-5 col-12 mx-auto col-lg-10 bg-dark-opaque border text-center text-light">
        <h1 class="display-3">Justin Somers</h1>
        <p class="">Student in Computer Engineering</p>
      </div>
    </div>
  </div>
</div>



<!-- <div class="container-fluid border">
  <div class="jumbotron-fluid">
    <div class="wrapper">
      <div class="jumbotron-content">
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <img class="rounded-circle profile-image" [src]="profileImg">
            </div>
          </div>
        </div>
        <div class="text-center">
          <h1>Justin Somers</h1>
          <p class="lead">Computer Engineering Student from Iowa State University</p>
        </div>
      </div>
    </div>
  </div>
</div> -->