
  
  .cover {
    background-image: url("../../../assets/imgs/darkTrumpet.jpg");
    min-height: 100%;
  }
  /* .container-fluid {
      min-height: 100%;
    background-size: cover;
    background: url("../../../assets/imgs/darkTrumpet.jpg") no-repeat center center fixed;
} */

/* 
h1 {
    color: #b37d4e;
}

p {
    color: #968373a9;
} */
