<div class="container-fluid border">
  <div class="jumbotron-fluid">
    <div class="wrapper">
      <div class="jumbotron-content">
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <img class="rounded-circle profile-image" [src]="profileImg">
            </div>
          </div>
        </div>
        <div class="text-center">
          <h1>Justin Somers</h1>
          <p class="lead">Computer Engineering Student from Iowa State University</p>
        </div>
      </div>
    </div>
  </div>
</div>