.profile-image {
    width: 10%;
    margin: 30px;
  }
  
  .container-fluid {
    background-color: white;
}

body{
    
}

.wrapper * {

}


h1 {
    color: #b37d4e;
}

p {
    color: #968373a9;
}
.jumbotron-content > * {
    font-family: 'Libre Baskerville', serif;
}